@import '../utils/variables';

.form-second {
  grid-template-rows: repeat(3, 80px);
  align-content: center;

  .form-second__control {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .form-second__price {
    color: $price-color;
  }
}